@import url('https://fonts.googleapis.com/css?family=Dosis:200,500');

* {
  background: black;
  font-family: "Dosis";
  font-size: 75px;
  color: darkorange;
  text-align: center;
  font-weight: 200;
}

.App {
  position:relative;
  height: 100vh;
  width: 100vw;
}

.GameBoard {
  width:500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.GameSquare {
  background-color: darkorange;
  height: 150px;
  width: 150px;
  line-height: 150px;
  margin: 5px 5px 5px 5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.play-again {
  font-size: 32pt;
  opacity:0;
  cursor: pointer;
}